.page-container-payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  
    .page-title {
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      color: #493d3d;
      text-align: left;
    }
  
    .page-main-content {
      font-size: 14px;
      flex: 1;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      overflow-y: auto;
      max-height: 600px;
  
      .payment-table {
        width: 100%;
        border-collapse: collapse;
  
        th {
          background-color: #f39c12;
          color: #fff;
          padding: 10px;
          text-align: left;
        }
  
        td {
          text-align: left;
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
  
        tr:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.3);
        }
  
        tr:hover {
          background-color: rgba(255, 165, 0, 0.2);
        }
  
        .delete {
          background-color: rgba(0, 0, 0, 0);
          color: rgb(255, 0, 0);
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 24px;
          transition: background-color 0.3s ease;
  
          &:hover {
            color: rgb(172, 0, 0)
          }
        }
        .payment {
          background-color: #f39c12;
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          border-radius: 4px;
          font-size: 14px;
          transition: background-color 0.3s ease; 
  
          &:hover {
            background-color: #e67e22;
          }
        }
      }
    }
  }
