.showtime-table {
    width: 100%;
    border-collapse: collapse;
    //margin-top: 20px;

    th {
      background-color: #f39c12;
      color: #fff;
      text-align: left;
      padding: 10px;
      font-weight: bold;
      border-bottom: 2px solid #ddd;
    }
  
    td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
  
    tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.3);
    }
  
    tr:hover {
      background-color: rgba(255, 165, 0, 0.2);
    }
  
    button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 2px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2980b9;
      }
  
      &:active {
        background-color: #1d6fa5;
      }

      &.detail{
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0);
        color: #dad00d;
        &:hover {
          color: #c9ac09;
        }
      }

      &.edit {
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0);
        color: #f39c12;
        &:hover {
          color: #e67e22;
        }
      }
  
      &.delete {
        background-color: #e74c3c;
  
        &:hover {
          background-color: #c0392b;
        }
      }
    }
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .popup-content select {
    margin: 10px;
  }
  
  .popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .popup-actions button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .popup-actions button:first-child {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: #007bff;
  }
  
  .popup-actions button:last-child {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: #c0392b;
  }
